﻿@model TimeTracker.Models.Project

@{
    ViewBag.Title = "Details";
}

<div class="dashhead">
    <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Details</h6>
        <h2 class="dashhead-title">Project</h2>
    </div>

    <div class="btn-toolbar dashhead-toolbar">
        <div class="btn-toolbar-item">
            <a href="#" class="btn btn-primary-outline">
                <span class="icon icon-plus"></span> New Task
            </a>    
        </div>
    </div>
</div>

<hr />

<div class="col-sm-8">
    <h3>@Model.Name <small class="text-uppercase text-muted text-success" style="font-size: 10px;">@Model.Status</small></h3>
    <div class="row statcards">
        <div class="col-sm-6 col-lg-6 m-b">
            <div class="statcard statcard-success">
                <div class="p-a">
                    <span class="statcard-desc">Total Hours</span>
                    <h2 class="statcard-number">
                        @Model.Tasks.Sum(t => t.Hours).ToString("G29")
                        <small class="delta-indicator delta-positive">5%</small>
                    </h2>
                    <hr class="statcard-hr m-b-0">
                </div>
                <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[28,68,41,43,96,45,100]}]" data-labels="['a','b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
            </div>
        </div>
        <div class="col-sm-6 col-lg-6 m-b">
            <div class="statcard statcard-info">
                <div class="p-a">
                    <span class="statcard-desc">Number of Tasks</span>
                    <h2 class="statcard-number">
                        @Model.Tasks.Count()
                        <small class="delta-indicator delta-negative">1.3%</small>
                    </h2>
                    <hr class="statcard-hr m-b-0">
                </div>
                <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[4,34,64,27,96,50,80]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-4 sidebar">
    <div class="sidebar-nav">
        <ul class="nav nav-stacked right-sidebar">
            <li class="nav-header">Client</li>
            <li>@Model.Client.Name</li>
            <li class="nav-header">Participants</li>
            @foreach (var user in Model.Users)
            {
                <li>@user.UserName</li>
            }
        </ul>
    </div>
</div>

<div class="clearfix"></div>
<div class="hr-divider m-t-md m-b">
    <h3 class="hr-divider-content hr-divider-heading">Completed Tasks</h3>
</div>


<div class="table-full">
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th><input type="checkbox" class="select-all" id="selectAll"></th>
          <th>Description</th>
          <th>Hours</th>
          <th>User</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model.Tasks) {
            <tr>
                <td><input type="checkbox" class="select-row"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Hours.ToString("G29") hrs
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td class="text-right">
                    <div class="btn-group btn-group-sm">
                        @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-sm btn-primary-outline" })
                        @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-sm btn-primary-outline" })
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-sm btn-danger-outline" })
                    </div>
                </td>
            </tr>
        }
      </tbody>
    </table>
  </div>
</div>