﻿@model TimeTracker.Models.Project

@{
    ViewBag.Title = "Edit Project";
}

<div class="dashhead">
    <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Edit</h6>
        <h2 class="dashhead-title">Project</h2>
    </div>

    <div class="btn-toolbar dashhead-toolbar">
        <div class="btn-toolbar-item">
            <a href="#" class="btn btn-primary-outline">
                <span class="icon icon-plus"></span> New Task
            </a>    
        </div>
    </div>
</div>

<hr />

<div class="col-sm-8">
    @using (Html.BeginForm("edit", "projects", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.Hidden("ClientId", Model.ClientId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Status, new SelectList(TimeTracker.Models.Project.STATUS_TYPES), "Select One", new { @class = "custom-select form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-right">
                <input type="submit" value="Save" class="btn btn-success-outline" />
            </div>
        </div>
    }
</div>

<div class="col-sm-4 sidebar">
    <div class="sidebar-nav">
        <ul class="nav nav-stacked right-sidebar">
            <li class="nav-header">Client</li>
            <li>@Model.Client.Name</li>
            <li class="nav-header">Participants</li>
            @foreach (var user in Model.Users)
            {
                <li>@user.UserName</li>
            }
        </ul>
    </div>
</div>

<div class="clearfix"></div>
<div class="hr-divider m-t-md m-b">
    <h3 class="hr-divider-content hr-divider-heading">Completed Tasks</h3>
</div>


<div class="table-full">
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th><input type="checkbox" class="select-all" id="selectAll"></th>
          <th>Description</th>
          <th>Hours</th>
          <th>User</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model.Tasks) {
            <tr>
                <td><input type="checkbox" class="select-row"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Hours.ToString("G29") hrs
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td class="text-right">
                    <div class="btn-group btn-group-sm">
                        @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-sm btn-primary-outline" })
                        @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-sm btn-primary-outline" })
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-sm btn-danger-outline" })
                    </div>
                </td>
            </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
