﻿@model TimeTracker.ViewModels.DashboardData

@{
    ViewBag.Title = "Dashboard";
}

<div class="dashhead">
    <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Dashboard</h6>
        <h2 class="dashhead-title">Overview</h2>
    </div>

    <div class="btn-toolbar dashhead-toolbar">
        <div class="btn-toolbar-item">
            <a href="/tasks/create" class="btn btn-primary-outline">
                <span class="icon icon-plus"></span> New Task
            </a>    
        </div>
    </div>
</div>

<div class="hr-divider m-t-md m-b">
    <h3 class="hr-divider-content hr-divider-heading">Quick stats</h3>
</div>

<div class="row statcards">
    <div class="col-sm-6 col-lg-3 m-b">
        <div class="statcard statcard-success">
            <div class="p-a">
                <span class="statcard-desc">Active Projects</span>
                <h2 class="statcard-number">
                    @Model.ProjectsCount
                    <small class="delta-indicator delta-positive">5%</small>
                </h2>
                <hr class="statcard-hr m-b-0">
            </div>
            <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[28,68,41,43,96,45,100]}]" data-labels="['a','b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 m-b">
        <div class="statcard statcard-danger">
            <div class="p-a">
                <span class="statcard-desc">Clients</span>
                <h2 class="statcard-number">
                    @Model.ClientsCount
                    <small class="delta-indicator delta-negative">1.3%</small>
                </h2>
                <hr class="statcard-hr m-b-0">
            </div>
            <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[4,34,64,27,96,50,80]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 m-b">
        <div class="statcard statcard-info">
            <div class="p-a">
                <span class="statcard-desc">Tasks Completed</span>
                <h2 class="statcard-number">
                    @Model.Tasks.Count()
                    <small class="delta-indicator delta-positive">6.75%</small>
                </h2>
                <hr class="statcard-hr m-b-0">
            </div>
            <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[12,38,32,60,36,54,68]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 m-b">
        <div class="statcard statcard-warning">
            <div class="p-a">
                <span class="statcard-desc">Total Hours</span>
                <h2 class="statcard-number">
                    @Model.TaskHours.ToString("G29")
                    <small class="delta-indicator delta-negative">1.3%</small>
                </h2>
                <hr class="statcard-hr m-b-0">
            </div>
            <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[43,48,52,58,50,95,100]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
        </div>
    </div>
</div>

<hr class="m-t">

<div class="row">
    <div class="col-md-6 m-b-md">
        <div class="list-group">
            <h4 class="list-group-header">
                Latest Projects
            </h4>

            @if (Model.Projects.Count == 0)
            {
                <a class="list-group-item" href="#">
                    No projects have been created yet.
                </a>
            }
            else
            {
                foreach (var item in Model.Projects.Take(5))
                {
                    <a class="list-group-item" href="/projects/details/@item.ID">
                        <span class="pull-right text-muted">@item.Client.Name</span>
                        @item.Name
                    </a>
                }
            }
        </div>
        <a href="/projects" class="btn btn-primary-outline p-x">All projects</a>
    </div>

    <div class="col-md-6 m-b-md">
        <div class="list-group">
            <h4 class="list-group-header">
                Latest Tasks
            </h4>

            @if (Model.Tasks.Count == 0)
            {
                <a class="list-group-item" href="#">
                    No tasks have been created yet.
                </a>
            } else
            {
                foreach (var item in Model.Tasks.Take(5))
                {
                    <a class="list-group-item" href="/projects/details/@item.Project.ID">
                        <span class="pull-right text-muted">@item.Hours.ToString("G29") hrs</span>
                        @item.Description
                    </a>
                }
            }

        </div>
        <a href="/projects" class="btn btn-primary-outline p-x">View all tasks</a>
    </div>
</div>