﻿@model TimeTracker.ViewModels.TasksCreateViewModel

@{
    ViewBag.Title = "Create Task";
}

<div class="dashhead">
    <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Create</h6>
        <h2 class="dashhead-title">Task</h2>
    </div>
</div>

<hr />

<div class="col-sm-12">
    @using (Html.BeginForm("create", "tasks", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Hours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hours, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaskDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-with-icon">
                    @Html.EditorFor(model => model.TaskDate, new { htmlAttributes = new { @class = "form-control", data_provide = "datepicker" } })
                    <span class="icon icon-calendar"></span>
                    @Html.ValidationMessageFor(model => model.TaskDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ClientId,
                    Model.Clients.Select(c => new SelectListItem
                    {
                        Text = c.Name,
                        Value = c.ID.ToString()
                    }), "Please select a client.", new { @class = "form-control custom-select", @onchange = "javascript:getProjects(this.value);" })
                @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ProjectId">Project</label>
            <div class="col-md-10">
                <select name="ProjectId" id="ProjectId" class = "form-control custom-select" disabled></select>
                @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-right">
                <input type="submit" value="Create" class="btn btn-primary-outline" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/tinymce")
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function getProjects(_clientId) {
        var procMessage = "<option value='0'> Loading projects...</option>";
        $("#ProjectId").html(procMessage).show();
        var url = "/tasks/GetProjectByClientId";

        $.ajax({
            url: url,
            data: { clientId: _clientId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select a project.</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#ProjectId").html(markup).show().removeAttr("disabled");
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>