﻿@using PagedList.Mvc;
@model PagedList.IPagedList<TimeTracker.Models.TaskItem>

@{
    ViewBag.Title = "Tasks";
}

<div class="dashhead">
    <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Index</h6>
        <h2 class="dashhead-title">Tasks</h2>
    </div>

    <div class="btn-toolbar dashhead-toolbar">
        <div class="btn-toolbar-item input-with-icon">
            <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
            <span class="icon icon-calendar"></span>
        </div>
    </div>
</div>

<div class="flextable table-actions">
  <div class="flextable-item flextable-primary">
    <div class="btn-toolbar-item input-with-icon">
      <input type="text" class="form-control input-block" placeholder="Search tasks">
      <span class="icon icon-magnifying-glass"></span>
    </div>
  </div>
  <div class="flextable-item">
      <a href="/tasks/create" class="btn btn-primary-outline">
        <span class="icon icon-plus"></span> New Task
      </a>
  </div>
</div>

<div class="table-full">
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th><input type="checkbox" class="select-all" id="selectAll"></th>
          <th>Description</th>
          <th>Hours</th>
          <th>Project</th>
          <th>User</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model) {
            <tr>
                <td><input type="checkbox" class="select-row"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours) hrs
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td class="text-right">
                    <div class="btn-group btn-group-sm">
                        @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-sm btn-primary-outline" })
                        @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-sm btn-primary-outline" })
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-sm btn-danger-outline" })
                    </div>
                </td>
            </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("index", new { page }))
</div>
