﻿@model IEnumerable<TimeTracker.Models.Client>

@{
    ViewBag.Title = "Clients";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="dash-head">
                <h3>
                    Clients
                    <div class="pull-right">
                        @Html.ActionLink("New Client", "Create", null, new { @class = "btn btn-sm btn-success" })
                    </div>
                </h3>
            </div>
            <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Html.DisplayFor(modelItem => item.Name)</h3>
                        </div>
                        <div class="panel-body">
                            @Html.ActionLink(item.Projects.Where(
                                p => p.Status == "Started").Count().ToString() + " Active Project(s)",
                                "details", "projects", new { id = item.ID }, null)
                            <br/>
                            @item.Projects.Sum(p => p.Tasks.Count()) Completed Tasks
                        </div>
                        <div class="panel-footer">
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "p-btn" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "p-btn text-danger" })
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>
