﻿<div class="col-sm-3 sidebar">
    <nav class="sidebar-nav">
        <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
                <span class="sr-only">Toggle nav</span>
            </button>
            <a class="sidebar-brand img-responsive" href="index.html">
                <span class="icon icon-leaf sidebar-brand-icon"></span> <strong>Time Tracker</strong>
            </a>
        </div>

        <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
            <form class="sidebar-form">
                <input class="form-control" type="text" placeholder="Search...">
                <button type="submit" class="btn-link">
                    <span class="icon icon-magnifying-glass"></span>
                </button>
            </form>
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header">Dashboards</li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "dashboard" ? "active" : "")">
                    <a href="/dashboard">Overview</a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "projects" ? "active" : "")">
                    <a href="/projects">Projects</a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "clients" ? "active" : "")">
                    <a href="/clients">Clients</a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "tasks" ? "active" : "")">
                    <a href="/tasks">Tasks</a>
                </li>

                <li class="nav-header">Account</li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()

                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                }
            </ul>
            <hr class="visible-xs m-t">
        </div>
    </nav>
</div>
